<form fxLayout="row" fxLayoutAlign="space-around center">
	<mat-form-field>
		<mat-label>Search...</mat-label>
		<input matInput (change)="searchQuery($event)" />
	</mat-form-field>

	<mat-form-field>
		<mat-label>Filter by</mat-label>
		<mat-select>
			<mat-option
				*ngFor="let type of extractedTypes"
				[value]="type"
				(click)="filterData(type)"
				>{{ type }}</mat-option
			>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Sort by</mat-label>
		<mat-select>
			<mat-option (click)="sortData('asc')"
				>Price order <mat-icon>arrow_upward</mat-icon></mat-option
			>
			<mat-option (click)="sortData('desc')"
				>Price order <mat-icon>arrow_downward</mat-icon></mat-option
			>
		</mat-select>
	</mat-form-field>
</form>
